<a href="https://colab.research.google.com/github/rjjrishabh29/Python/blob/master/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 read name and print hello message with name
 
a=input()
print("Hello "+a)

RISHABH
Hello RISHABH

In [2]:
#2 read two numbers and print their sum,difference,product,division

a=int(input("Enter Number: "))
b=int(input("Enter Number: "))
print("Sum is: ",a+b)
print("Difference is: ",a-b)
print("Product is: ",a*b)
print("Division is: ",a/b)

Enter Number: 8
Enter Number: 4
Sum is:  12
Difference is:  4
Product is:  32
Division is:  2.0

In [3]:
#3 word and character count of a given string

a=input("Enter string: ")
print("Words are: ",len(a.split()))
print("Chatracters are: ",len(a))

Enter string: IOT LAB CLASSWORK
Words are:  3
Chatracters are:  17

In [4]:
#4 area of a given shape(rectangle,triangle,circle) 

import math
a=int(input("Enter length: "))
b=int(input("Enter width: "))
print("Area of rectangle is: ",a*b)
a=int(input("Enter base: "))
b=int(input("enter height: "))
print("Area of triangle is: ",(a*b)/2)
a=int(input("Enter radius"))
print("Area of circle is: ",(math.pi*(a*a)))

Enter length: 5
Enter width: 5
Area of rectangle is:  25
Enter base: 9
enter height: 8
Area of triangle is:  36.0
Enter radius5
Area of circle is:  78.53981633974483

In [5]:
#5 square root of a number

import math
a=int(input("Enter number: "))
print("Square root is: ",math.sqrt(a))

Enter number: 16
Square root is:  4.0

In [6]:
#6 solve quardratic equation

import math
a=int(input("Enter value: "))
b=int(input("Enter value: "))
c=int(input("Enter value: "))
root1 = 0
root2 = 0
temp = pow(b,2)-4*a*c;
if temp < 0:
  print ("Imaginary")
else: 
  root1=math.floor((-1*b+math.sqrt(temp))/(2*a))
  root2=math.floor((-1*b-math.sqrt(temp))/(2*a))
  print( max(root1,root2),min(root1,root2))

Enter value: 1
Enter value: -5
Enter value: 9
Imaginary

In [7]:
#7 swap 2 variables

a=input("Enter variable: ")
b=input("Enter variable: ")
print("Before swapping: "+a+" "+b)
a,b=b,a
print("After swapping: "+a+" "+b)

Enter variable: 5
Enter variable: 9
Before swapping: 5 9
After swapping: 9 5

In [8]:
#8 generate a random number

import random
print(random.randint(1,100))

36

In [9]:
#9 covert kilometers to miles

kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.621371
miles = kilometers * conv_fac
print("Miles is: ",miles)

Enter value in kilometers: 98
Miles is:  60.894358000000004

In [10]:
#10 Convert celsius to fahrenheit

celsius =float(input("Enter value of celsius: "))
fahrenheit = (celsius * 1.8) + 32
print("Fahrenheit is: ",fahrenheit)

Enter value of celsius: 98
Fahrenheit is:  208.4

In [11]:
#11 check if number is positive negative or 0

a=int(input("Enter number: "))
if a==0:
  print("No. is Zero")
elif a<0:
  print("No is Negative")
else:
  print("No is positive")

Enter number: 965
No is positive

In [12]:
#12 check if a number is odd or even

a=int(input("Enter Number: "))
if a%2==0:
  print("No. is even")
else:
  print("No. is odd")

Enter Number: 5
No. is odd

In [13]:
#13 check if year is leap year

year=int(input("Enter year: "))
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

Enter year: 598
598 is not a leap year

In [14]:
#14 find largest among 3 numbers
a=int(input("Enter number: "))
b=int(input("Enter number: "))
c=int(input("Enter number: "))
print("Maximum number is: ",max(list([a,b,c])))

Enter number: 45
Enter number: 58
Enter number: 89
Maximum number is:  89

In [15]:
#15 print all prime numbers in an interval

lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter lower range: 789
Enter upper range: 854
797
809
811
821
823
827
829
839
853

In [17]:
#16 find factorial of a number

num =int(input("Enter number: "))
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter number: 15
The factorial of 15 is 1307674368000

In [18]:
#17 display the multiplication table

a=int(input("Enter number: "))
for i in range(1,11):
  print(a*i)

Enter number: 6
6
12
18
24
30
36
42
48
54
60

In [20]:
#18 fibonacci sequences

nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [21]:
#19 check whether a number is armstrong or not

num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 121
121 is not an Armstrong number

In [22]:
#20 find numbers divisible by another number

my_list = [12, 65, 54, 39, 102, 339, 221,]
result = list(filter(lambda x: (x % 13 == 0), my_list))
print("Numbers divisible by 13 are",result)

Numbers divisible by 13 are [65, 39, 221]

In [23]:
#21 convert decimal to binary, octal to hexadecimal

a =int(input("Enter number: "))

print("The decimal value is: ",a)
print(bin(a), "in binary.")
print(oct(a), "in octal.")
print(hex(a), "in hexadecimal.")

Enter number: 56
The decimal value is:  56
0b111000 in binary.
0o70 in octal.
0x38 in hexadecimal.

In [26]:
#22 find ascii value of a character

a=input("Enter character: ")
print("ASCII character is: ",ord(a))

Enter character: a
ASCII character is:  97

In [27]:
#23 find hcf

def compute_hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = int(input("Enter number: "))
num2 =int(input("Enter number: "))

print("The H.C.F. is", compute_hcf(num1, num2))

Enter number: 859
Enter number: 758
The H.C.F. is 1

In [28]:
#24 find lcm

def compute_lcm(x, y):

   # choose the greater number
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 =int(input("Enter number: "))
num2 =int(input("Enter number: "))

print("The L.C.M. is", compute_lcm(num1, num2))

Enter number: 8
Enter number: 6
The L.C.M. is 24

In [29]:
#25 shuffle dack of cards

import itertools, random
deck = list(itertools.product(range(1,14),['Spade','Heart','Diamond','Club']))
random.shuffle(deck)
print("You got:")
for i in range(5):
   print(deck[i][0], "of", deck[i][1])

You got:
1 of Diamond
8 of Diamond
6 of Diamond
4 of Spade
5 of Diamond

In [30]:
#26 display calendar

import calendar
yy = int(input("Enter year: "))
mm = int(input("Enter month: "))
print(calendar.month(yy, mm))

Enter year: 2001
Enter month: 10
    October 2001
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [32]:
#27 display fibonacci sequence 

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = int(input("Enter Terms: "))

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Enter Terms: 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [33]:
#28 Add two matrices

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [34]:
# 29 find transpose of a matrix

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

In [35]:
#30 multiply 2 matrices

X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]